{% extends 'base.html' %}
<!-- extends는 우선순위가 높다, 가장 먼저 써주면 됨-->
<!-- 이 부분이 base.html에서 말한 contents 임을 알려줘야 함-->
{% block contents %}
<!--
<body>
    <br>
    <div class="container">
        <form action="{% url 'create' %}">
            <h4>제목: </h4>
            <input type="text" name="title">
            <br>
            <br>
            <h4>본문: </h4>
            <textarea cols=40 rows=10 name="body"></textarea>
            <br>
            <br>
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
</body>
-->

<br>
<center>
    <div style="background-color: rgba(255, 255, 255, 0.7);height: 60px;">
        <p style="font-size: 32px;font-weight: bold;">Blogging</p>
    </div>
</center>
<center>
    <div class="container" style="padding: 15px;margin-top: 40px;background-color: white;width: 650px;border-radius: 25px;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br>
            <input class="btn btn-dark" type="submit" value="글쓰기">
        </form>
    </div>
</center>
{% endblock %}